<style type="text/css">
    .Submit_Class {height:30px; width:100px}
</style>

<td width="80%" align="center" valign="top">
  <table border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center" colspan="3">
        <span style="font-size:30px">Welcome <span style="color:red"><b><%= @user.firstname + " " + @user.lastname %></b></span> (Manager)</span>
      </td>
    </tr>
    <tr>
      <td align="center" colspan="3">&nbsp;</td>
    </tr>
    <tr>
      <td align="center" colspan="3"><h3>Product Administration  -	Edit/Delete</h3></td>
    </tr>
    <tr>
      <td colspan="3">&nbsp;</td>
    </tr>
    <tr>
      <td align="top">
        <table border="1" width="100%" cellpadding="10" cellspacing="0">
          <tr>
            <th>Picture</th>
            <th>Product Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
          <% for product in @product_all  %>
              <tr>
                <td><%= image_tag(product.image_url, :alt => product.image_url, :size => "50x50" ) %></td>
                <td><%= product.name %></td>
                <td><%= product.description %></td>
                <td><%= product.price %></td>
                <td><%= product.quantity %></td>
                <td><%= link_to "Edit", :controller => "products", :action => "modify_actual", :p_id => product.id %></td>
                <td><%= link_to "Delete", :controller => "products", :action => "destroy", :p_id => product.id %></td>
              </tr>
          <% end %>
        </table>
      </td>
    </tr>
    <tr>
      <td align="center">&nbsp;</td>
    </tr>
    <tr>
      <td align="center">
        <%= form_for @product_all, :url => { :controller => :admin, :action => :index}  do |f| -%>
            <%= f.submit "Back", :class => 'Submit_Class' %>
        <% end -%>
      </td>
    </tr>
  </table>
</td>